{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'interview/style.css' %}" />

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'interview:detail' question.id %}">{{ question.question_text }}</a></li>
    <form action="{% url 'interview:vote' question.id %}" method="post">
      {% csrf_token %}
      
      {% for choice in question.choice_set.all %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
      <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
      {% endfor %}
      <input type="submit" value="Save" />
    </form>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
